{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    This the Cart Page, please review your Items and place the order.
{% endblock %}

{% block title %}
    Cart-Family Mart Online store
{% endblock %}

{% block content %}
{% if not cart_items %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">Your Shopping Cart is empty</h1>
            <br>
            <p class="=text-center">
                please click <a href="{% url 'shop:allProdCat' %}">Here</a> to continue shopping.
            </p>

        </div>
    </div>
{% else %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">You Shopping Cart</h1>
            <br>

        </div>
    </div>


    <div class="row mx_auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr class="text-center">
                        <th colspan="5">Your items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in cart_items %}
                        <tr>
                            <td>
                            <a href="i.product.get_absolute_url"><img src="{{i.product.image.url}}" alt="product_image" class="float-left rounded custom_image" height="120" width="70"> </a>
                            </td>
                            <td class="text-left">
                                {{i.product.name}}
                                <br>
                                SKU: {{i.product.id}}
                                <br>
                                Price: Rs. {{i.product.price}}
                                <br>
                                Qty: {{i.nos}} Nos
                            </td>
                            <td>
                                Rs. {{i.sub_total}}
                            </td>
                            {% if i.nos < i.product.stock %}
                                <td>
                                     <a href="{% url 'cart:add_cart' i.product.id %}" class="custom_a"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                      </svg></a>
                                    &nbsp;&nbsp;&nbsp;<a href="{% url 'cart:cart_remove' i.product.id %}" class="custom_a"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                      </svg></a>
                                    &nbsp;&nbsp;&nbsp;<a href="{% url 'cart:cart_full_remove' i.product.id %}" class="custom_a"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                      </svg></a>
                                </td>
                            {% else %}
                                <td>
                                    &nbsp;&nbsp;&nbsp;<a href="{% url 'cart:cart_remove' i.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                                    &nbsp;&nbsp;&nbsp;<a href="{% url 'cart:cart_full_remove' i.product.id %}" class="custom_a"><i class="fa fa-trash custom_icon"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr class="text-center">
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="text-center">
                        <td>
                            Please review your shopping cart items before proceeding with order payment.
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                           <h1>Price Details</h1>
                            <h3>Total: {{total}}</h3>
                            <div class="mx-auto text-center">
                                <a href="" class="btn btn-primary btn-block my_custom_button">Proceed to checkout</a>
                                <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue shopping</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    
{% endif %}
{% endblock %}