    body{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    min-height:100;
}

/*Navbar */
.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

.dropdown-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.my_footer{
    background-color:#f8f9fa;
    height:60px;
}

.my_footer p{
    padding-top:20px;
    font-size:14px;
}

/*category page*/
my_row_class{
    padding-top:15px;
}

.my_row_class .mx_auto{
    color:#000;
    font-size:12px;
}

.my_image{
    width:100%;
    height:auto;
}

.my_pimage{
    margin-top: 20px;
    height: 400px;
    width: 70%;
}

.my_title{

    font-size:20px;
    text-transform:uppercase;
    letter-spacing:.2em;
    font-weight: bold;
}

.my_image_padding{
    padding: 5px;
}

.my_bottom_margin{
    margin-bottom:10px;
}

.card-body h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}

/*product page*/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}

.my_prod_row_class .mx_auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}

.my_prod_title{
    font-size:35px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}

.my_prod_text{
    padding-right:20px;
}

.my_prod_price{
     font-size:20px;
     letter-spacing:.2em;

}

.prod_page_nav{
    font-weight:bold;
    letter-spacing:.25em;
    font-size:18px;

}
a:link{text-decoration:none;}
a{color:black;}

.cat_n_prod_page_heading{
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:.2em;
}

/*search page*/
.my_search_text{
    padding-top:20px;
}

/*cart page*/
.my_custom_table{
    min-width:400px;
    font-size:14px;


}

.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f9fa!important;
}

.custom_a{
    text-decoration:none;
}

.custom_icon{
    text-decoration:none;
    color:#868e96 !important;
}

.my_custom_button{
    margin-top:5px;
}


/*base.html*/
.div_style{
min-height:90vh;

}